<%= paginate @daily_records %>

<p id="notice"><%= notice %></p>

<h1>Daily Records</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Note</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_records.each do |daily_record| %>
      <tr>
        <td><%= daily_record.image %></td>
        <td><%= daily_record.note %></td>
        <td><%= daily_record.date %></td>
        <td><%= link_to 'Show', daily_record %></td>
        <td><%= link_to 'Edit', edit_daily_record_path(daily_record) %></td>
        <td><%= link_to 'Destroy', daily_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Record', new_daily_record_path %>

