<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @daily_record.image %>
</p>

<p>
  <strong>Note:</strong>
  <%= @daily_record.note %>
</p>

<p>
  <strong>Date:</strong>
  <%= @daily_record.date %>
</p>

<%= link_to 'Edit', edit_daily_record_path(@daily_record) %> |
<%= link_to 'Back', daily_records_path %>
